.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #000;
    border-color: #000000cc;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.marker {
    align-content: center;
    font-size: 30px;
    text-shadow: 0 0 8px currentColor, 0 0 16px currentColor;
}

.neon-green {
    color: #39ff14;
    text-shadow: 0 0 8px #39ff14, 0 0 16px #39ff14;
}

.neon-red {
    color: #ff0033;
    text-shadow: 0 0 8px #ff0033, 0 0 16px #ff0033;
}

body {
    background-color: #ffffff;
}